extends ../layouts/master.pug

block title
  title Главная

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  section.home__sentence
      .row.g-0
        .col
          img(src=require("images/home/slide-01.png")).home__sentence-img.for-desktop
          img(src=require("images/home/slide-01m.jpg")).home__sentence-img.for-mobile

  section.home__popular
    .container
      .row
        .title
          h2 Популярные категории
          a.link(href="#") Все категории
        .category
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
  section.home__tovars
    .container
      .row
        .title
          h2 Новые поступления
          a.link(href="#") Перейти в каталог
      .row
        .home__tovars-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination

  section.home__tovars
    .container
      .row
        .title
          h2 Популярные товары
          a.link(href="#") Перейти в каталог
      .row
        .home__tovars-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                .tovar
                  a.tovar__image(href="#")
                    img(src=require("images/tovar/tovar-01.png"))
                  a.tovar__title(href="#")
                    p Шина пне вматическ япнев матическаяпне вматическая  13.6-38 8PR BKT TR 135 131A6/127A8 TT
                  .tovar__price
                    p 2 500 ₽
                  .tovar__button
                    a.btn.btn-outline-primary(href="#") Подробнее

              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination
  section.special
    .special__gradient
    .container
      .row
        .special__col
          h3 Возникли проблемы с выбором?
          p Закажите бесплатную консультацию
          form.form.row.g-2
            .col-auto
              input.form-control(type="text" placeholder="Ваш номер телефона")
            .col-auto
              button.btn.btn-primary Заказать звонок
  section.home__brands
    .container
      .row
        .title
          h2 Популярные бренды
      .row
        .home__brands-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                a.brand(href="#")
                    img(src=require("images/brands/deestone.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/bkt.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/kenda.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/starco.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/windpower.png"))
            .swiper-pagination
  section.home__about
    .container
      .row
        .col-12.col-lg-6
          .title
            h2 О нашем магазине
          p
            | Магазин шин для спецтехники “КАРТРАК” предлагает широкий ассортимент продукции от мировых производителей. Особенность нашей компании заключается в предоставлении лучших брендов, которые пользуются спросом и успели зарекомендовать себя среди пользователей.
          p
            | В наличии шины для спецтехники следующих производителей: BKT, KENDA, DEESTONE, STARCO. Такой выбор обусловлен распространенностью этих марок, которые используются практически во всех отраслях, начиная от строительства и заканчивая сельскохозяйственной деятельностью.
          p
            | Пневматические шины, также как и другие типы, предлагаются по выгодной стоимости. Кроме этого, с нашей стороны гарантируется наличие товара на складе - оформить заявку можно в удобное время и подходящим способом (телефон, электронная почта, онлайн-чат).
          p
            | Продажа шин для спецтехники выполняется с предоставлением гарантии на всю продукцию. Сертификаты качества также выдаются - одно из правил нашего магазина. Получить консультацию относительно ассортимента можно в любое время.
        .col-12.col-lg-6
          .home__about-images
            .home__about-image.home__about-image--1
              img(src=require("images/home/about-2.jpg"))
            .home__about-image.home__about-image--2
              img(src=require("images/home/about-1.jpg"))
  section.map-box.home__map
    .map-box__title
      .container
        .row
          .col-12.col-lg-6
            .title
              h2 Наши контакты
    .map-box__map
      iframe(src='https://yandex.ru/map-widget/v1/-/CCUV6NWgsA' width='100%' height='100%' allowfullscreen='true')
      .container
        .row
          .map-box__box
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Центральный офис и склад
                p.map-box__title 196240, город Санкт-Петербург, Кубинская улица, дом 75к1
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Сотрудничество
                a.map-box__title.link(href="mailto:info@cartrac.ru") info@cartrac.ru
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Оставить заявку
                a.map-box__title.link(href="tel:+78003501460") +7 (800) 350-14-60
  section.special.m-0
    .special__gradient
    .container
      .row
        .special__col
          h3 Следите за нами ВКонтакте
          p Подпишись на нас в ВК и будь в курсе последних новостей компании
          a.btn.btn-primary(href="https://vk.com/cartrac" target="_blank") @cartrac


  section.my-3
    .container
      .row
        .crumbs
          a.crumbs__item(href="#") Главная
          a.crumbs__item(href="#") Хлебные крошки
  section.catalog.mt-0
    .container
      .row
        .col-12
          .title
            h2 Каталог
        .col-12.col-lg-3
          .catalog__filters
          p Фильтры
        .col-12.col-lg-9
          +tovar.tovar__line
