extends ../layouts/master.pug

block title
  title Главная

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Contact page
  section.sentence
      .row.g-0
        .col
          img(src=require("images/home/slide-01.png")).sentence__img.for-pc
          img(src=require("images/home/slide-01m.jpg")).sentence__img.for-mobile

  section.popular-category
    .container
      .row
        .col-12
          .popular-category__title
            h2 Популярные категории
        .category
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
