extends ../layouts/master.pug

block title
  title Главная

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Contact page
  section.home-sentence
      .row.g-0
        .col
          img(src=require("images/home/slide-01.png")).home-sentence__img.for-desktop
          img(src=require("images/home/slide-01m.jpg")).home-sentence__img.for-mobile

  section.home-popular
    .container
      .row
        .title
          h2 Популярные категории
          a.link(href="#") Все категории
        .category
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
  section.home-tovars
    .container
      .row
        .title
          h2 Новые поступления
          a.link(href="#") Перейти в каталог
      .row
        .home-tovars__slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination

  section.home-tovars
    .container
      .row
        .title
          h2 Популярные товары
          a.link(href="#") Перейти в каталог
      .row
        .home-tovars__slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination
  section.special
    .special__gradient
    .container
      .row
        .special__col
          h3 Возникли проблемы с выбором?
          p Закажите бесплатную консультацию
          form.form.row.g-2
            .col-auto
              input.form-control(type="text" placeholder="Ваш номер телефона")
            .col-auto
              button.btn.btn-primary Заказать звонок
  section.home-brands
    .container
      .row
        .title
          h2 Популярные бренды
      .row
        .home-brands__slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                .brand
                    img(src=require("images/brands/deestone.png"))
              .swiper-slide
                .brand
                  img(src=require("images/brands/bkt.png"))
              .swiper-slide
                .brand
                  img(src=require("images/brands/kenda.png"))
              .swiper-slide
                .brand
                  img(src=require("images/brands/starco.png"))
              .swiper-slide
                .brand
                  img(src=require("images/brands/windpower.png"))
            .swiper-pagination
  section.home-about
