extends ../layouts/master.pug

block title
  title Главная

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  section.home__sentence
      .row.g-0
        .col
          img(src=require("images/home/slide-01.png")).home__sentence-img.for-desktop
          img(src=require("images/home/slide-01m.jpg")).home__sentence-img.for-mobile

  section.home__popular
    .container
      .row
        .title
          h2 Популярные категории
          a.link(href="#") Все категории
        .category
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
  section.category-page
    .container
      .row
        .title
          h2 Популярные категории
          a.link(href="#") Все категории
        .category
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
          .category__item
            img(src=require("images/category/cat-01.png")).category__img
            .category__box
              .category__title
                p Шины для сельскохозяйственной техники
              .category__tovar
                p 376 товара
              .category__button
                a(href="#").btn.btn-primary В каталог
  section.home__tovars
    .container
      .row
        .title
          h2 Новые поступления
          a.link(href="#") Перейти в каталог
      .row
        .tovars-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination

  section.home__tovars
    .container
      .row
        .title
          h2 Популярные товары
          a.link(href="#") Перейти в каталог
      .row
        .tovars-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                .tovar
                  a.tovar__image(href="#")
                    img(src=require("images/tovar/tovar-01.png"))
                  a.tovar__title(href="#")
                    p Шина пне вматическ япнев матическаяпне вматическая  13.6-38 8PR BKT TR 135 131A6/127A8 TT
                  .tovar__price
                    p 2 500 ₽
                  .tovar__button
                    a.btn.btn-outline-primary(href="#") Подробнее

              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
              .swiper-slide
                +tovar
            .swiper-pagination
  section.special
    .container
      .row
        .special__col
          h3 Возникли проблемы с выбором?
          p Закажите бесплатную консультацию
          form.form.row.g-2
            .col-auto
              input.form-control(type="text" placeholder="Ваш номер телефона")
            .col-auto
              button.btn.btn-primary Заказать звонок
  section.home__brands
    .container
      .row
        .title
          h2 Популярные бренды
      .row
        .brands-slider
          .swiper
            .swiper-wrapper
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/deestone.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/bkt.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/kenda.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/starco.png"))
              .swiper-slide
                a.brand(href="#")
                  img(src=require("images/brands/windpower.png"))
            .swiper-pagination
  section.home__about
    .container
      .row
        .col-12.col-lg-6
          .title
            h2 О нашем магазине
          p
            | Магазин шин для спецтехники “КАРТРАК” предлагает широкий ассортимент продукции от мировых производителей. Особенность нашей компании заключается в предоставлении лучших брендов, которые пользуются спросом и успели зарекомендовать себя среди пользователей.
          p
            | В наличии шины для спецтехники следующих производителей: BKT, KENDA, DEESTONE, STARCO. Такой выбор обусловлен распространенностью этих марок, которые используются практически во всех отраслях, начиная от строительства и заканчивая сельскохозяйственной деятельностью.
          p
            | Пневматические шины, также как и другие типы, предлагаются по выгодной стоимости. Кроме этого, с нашей стороны гарантируется наличие товара на складе - оформить заявку можно в удобное время и подходящим способом (телефон, электронная почта, онлайн-чат).
          p
            | Продажа шин для спецтехники выполняется с предоставлением гарантии на всю продукцию. Сертификаты качества также выдаются - одно из правил нашего магазина. Получить консультацию относительно ассортимента можно в любое время.
        .col-12.col-lg-6
          .home__about-images
            .home__about-image.home__about-image--1
              img(src=require("images/home/about-2.jpg"))
            .home__about-image.home__about-image--2
              img(src=require("images/home/about-1.jpg"))
  section.map-box.home__map
    .map-box__title
      .container
        .row
          .col-12.col-lg-6
            .title
              h2 Наши контакты
    .map-box__map
      +map({
        latitude: '59.840985',
        longitude: '30.297965',
        map: 'spb',
      })
      .container
        .row
          .map-box__box
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Центральный офис и склад
                p.map-box__title 196240, город Санкт-Петербург, Кубинская улица, дом 75к1
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Сотрудничество
                a.map-box__title.link(href="mailto:info@cartrac.ru") info@cartrac.ru
            .map-box__item
              .map-box__icon
                img(src=require("images/icons/warehouse.svg"))
              .map-box__text
                p.map-box__subtitle Оставить заявку
                a.map-box__title.link(href="tel:+78003501460") +7 (800) 350-14-60
  section.special.special--gradient.m-0
    .container
      .row
        .special__col
          h3 Следите за нами ВКонтакте
          p Подпишись на нас в ВК и будь в курсе последних новостей компании
          a.btn.btn-primary(href="https://vk.com/cartrac" target="_blank") Заказать звонок


  section.my-3
    .container
      .row
        .crumbs
          a.crumbs__item(href="#") Главная
          a.crumbs__item(href="#") Хлебные крошки
  section.catalog.mt-0
    .container
      .row
        .col-12
          .title
            h2 Каталог
        .col-12.col-lg-3
          .catalog__filters
          p Фильтры
        .col-12.col-lg-9
          +tovar.tovar__line
          +tovar.tovar__line
          +tovar.tovar__line
          +tovar.tovar__line
  section.brands
    .container
      .row
        .title
          h2 Бренд BKT
        .col-12.col-lg-6.order-1.order-lg-0
          p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
          p Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
        .col-12.col-lg-6.order-0.order-lg-1
          .brand
            img(data-src=require("images/brands/bkt.png")).lazyload
        .col-12.order-2
          .brands__num
            p.brands__number 223
            p.brands__num-dec ffdlkmflw dkjw dljwn lkjw skjd
          p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
          p Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

  section.product
    .container
      .row
        .col-12
          .product__box
            .product__image
              .product__image-box
                img(src=require("images/tovar/tovar-01.png"))
            .product__title
              h1 Шина пневматическая 14.9-24 8PR BKT TR 135 128A6/124A8 TT
              .product__title-box
                .product__statys.product__statys--green
                  p!="В наличии <span class='product__count'>( 18 шт )</span>"
                .product__article
                  p Артикул: 43534
            .product__price
              .product__block
                p.product__subtitle Цена
                p.product__cost 8 499 руб.
              .product__block
                p.product__subtitle Способы оплаты
                .product__pay
                  img(src=require("images/pay.png"))
                  p.product__pay-deck Оплата картой и безнал с ндс 20%
              .product__block
                +field-num({
                  mods: '',
                  val: '3',
                  attrs: {
                    name: 'quantity',
                    max: '10',
                    min: '1',
                    step: '1',
                  }
                })
                a.btn.btn-primary.btn--buy В корзину
            .product__offer
              p.product__subtitle Доставка и гарантия:
              p
                | Товар отгружается с ближайшего склада к городу покупателя.
                br
                | Доставка осуществляется по тарифам транспортных компаний.
                br
                | При покупке от 4 колёс доставка - бесплатно.
                br
                | Гарантия на заводской брак - 5 лет.
            .product__specification
              h2 Характеристики
              .product__table
                .product__tr
                  .product__td.product__td-title Категория:
                  .product__td.product__td-description Опора подвижная хомутовая ОПХ2
                .product__tr
                  .product__td.product__td-title Категория:
                  .product__td.product__td-description Опора подвижная хомутовая ОПХ2
            .product__description
              h2 Описание
              p Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a01f8dd2-d0ce-4dd5-a1b6-745f3a207777")
